<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Competition Detail</title> 
        <script type="text/javascript" src="app.js"></script>
        <style type="text/css">
            a:link { color:black; text-decoration: none;}
            a:visited { color:black; text-decoration: none;}
            a:hover { color:#29487D; text-decoration: underline;}
            a { text-decoration:none } 
         </style>
    </head>
    <body style="background-color: lightgray; margin: 0;">
            <div style=" background-color: #29487D; color:white; text-align: center;">
                        <br>
                        <h1>Competition</h1>
                        <br>
            </div>
            <div style="background-color: white; margin:30px; padding: 30px;">
                    <div>
                            <h1>Competition Detail</h1>
                            <hr>
                            <br>
                            <p> 
                                <h3>Competition</h3>
                                <%= JSON.stringify(post.comp_name) %>
                                <br><br>
                                <h3>Organizer</h3>
                                <%= JSON.stringify(post.comp_org) %>
                                <br><br>
                                <h3>Awards (yes:1 / No:0 )</h3>
                                <%= JSON.stringify(post.awards_check) %>
                                <br><br>
                                <h3>Awards (if none, null)</h3>
                                <%= JSON.stringify(post.awards_name) %>
                                <br><br>
                                <h3>Related Project (if none, null) </h3>
                                <%= JSON.stringify(post.proj_name) %>
                                <br><br>

                                <br><br>
                            </p>
                        </div>
            </div>

        <div style="text-align: center;">
            <a href='/competition/ <%= post.seq %>/delete'> <input type="button" value="글 삭제"> </a>
            <a href='/competition/<%= post.seq %>/edit'> <input type="button" value="글 수정"> </a>
            <a href='../main'> <input type="button" value="main"> </a>
        </div>
    </body>
</html>